# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

#tests
coverage
.nyc_output

#files
uploads
footPrintReport.xls

.idea
.env
logs/error.log
logs/combined.log
logs/web_traffic.log