doctype html
html
    head
        link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

    body
        if error
            .row
                .col.s12.center-align.red= error
        if info
            .row
                .col.s12.center-align.blue= info
        .container
            .section
                .row
                    .col.s6
                        .card
                            form.card-content(action='/', method='POST', enctype="multipart/form-data")
                                label  Enter green it analysys csv
                                .file-field.input-field
                                .btn
                                    input(type = "file", name = "csv", required="true")
                                .right-align.section
                                    button(type='submit').green.white-text
                                        p.valign-wrapper
                                                span Create sheet
                                                i.material-icons.white-text.col.s6 send
